@model List<Organizer>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Organizers";
    var organizers = Model;
}

<h1 class="text-white">Organizers</h1>
<table class="table table-sm table-bordered table-bordered text-white" style="background-color:var(--bh-dark-green-gray);">
    <tr>
        <th>Profile</th>
        <th>Display Name</th>
        <th>Role</th>
        <th>Job Title</th>
        <th>Display Team</th>
        <th>Contact Info</th>
        @* <th>Actions</th> *@
    </tr>
    @foreach (Organizer organizer in organizers)
    {
        <tr>
            <td style="text-align:center;"><img src="@String.Format("data:image/png;base64,{0}", organizer.ProfileImage)" style="height:100px;"/></td>
            <td>@organizer.DisplayName</td>
            <td>@organizer.Role</td>
            <td>@organizer.JobTitle</td>
            <td>@organizer.DisplayTeam</td>
            <td style="white-space: nowrap;">
                <i class="fab fa-github"></i> @organizer.GitHubUrl   <br/>
                <i class="fab fa-linkedin"></i> @organizer.LinkedInUrl   <br/>
                <i class="fas fa-envelope"></i> @organizer.Email
            </td>
            @* <td>
                <a class="btn btn-sm btn-primary" asp-action="UpdateOrganizer" asp-route-id="@organizer.Id">Update</a>
                <a class="btn btn-sm btn-danger" asp-action="DeleteOrganizer" asp-route-id="@organizer.Id">Delete</a>
            </td> *@
            @* <td>
                <form asp-action="DeleteOrganizer" asp-route-id="@organizer.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td> *@
        </tr>
    }
</table>
<a asp-action="CreateOrganizer" class="btn btn-secondary">Add an Organizer</a>
