@model List<Sponsor>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Sponsors";
    var sponsors = Model;
}

<h1 class="text-white">Sponsors</h1>
<table class="table table-sm table-bordered table-bordered text-white" style="background-color:var(--bh-dark-green-gray);">
    <tr><th>Logo</th><th>Name</th><th>Tier</th><th>Update</th><th>Delete</th></tr>
    @foreach (Sponsor sponsor in sponsors)
    {
        <tr>
            <td style="text-align:center;"><img src="@String.Format("data:image/png;base64,{0}", sponsor.Logo)" style="height:100px;"/></td>
            <td>@sponsor.Name</td>
            <td>@sponsor.Tier</td>
            <td><a class="btn btn-sm btn-primary" asp-action="UpdateSponsor" asp-route-id="@sponsor.Id">Update</a></td>
            <td>
                <form asp-action="DeleteSponsor" asp-route-id="@sponsor.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    <tr>
    <td colspan="5">
        <a asp-action="CreateSponsor" class="btn btn-secondary">Add a Sponsor</a>
    </td>
    </tr>
</table>
