@model List<ScoreQuestion>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Score Questions";
    var scoreQuestions = Model;

    // Group Questions
	var groupedQuestions = scoreQuestions.GroupBy(p => p.Group).OrderByDescending(g=> g.Sum(q=>q.PossiblePoints));//.Select(g => new HistogramPoint(){ ValueLabel=g.Key.ToString(), ValueCount=g.Count() }).OrderBy(p => p.ValueLabel);
}

<style>
    .answer-option {
        white-space: nowrap;
    }
</style>
\Admin\Roles
<h1 class="text-white">@ViewBag.Title</h1>

@foreach (var group in groupedQuestions)
{
    var groupMaxPoints = group.Sum(p=> p.PossiblePoints);

    <h3 class="text-white">@group.Key (@groupMaxPoints pts)</h3>
    <table class="table table-sm table-bordered table-bordered text-white" style="background-color:var(--bh-dark-green-gray);">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Answer Options</th>
            <th>Actions</th>
        </tr>
        @foreach (ScoreQuestion scoreQuestion in group)
        {
            <tr>
                <td>@scoreQuestion.Title</td>
                <td>@scoreQuestion.Description</td>
                <td>
                    @foreach (var answerOption in scoreQuestion.AnswerOptions.OrderBy(a=>a.Key).Select(kvp=> kvp.Value))
                    {
                        var weightedPts = (answerOption.Score / 5.0)*scoreQuestion.PossiblePoints;
                        <div class="answer-option">@weightedPts pts - @answerOption.Description</div>
                    }
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" style="margin-bottom:5px;" asp-action="UpdateScoreQuestion" asp-route-id="@scoreQuestion.Id">Update</a>
                    <form asp-action="DeleteScoreQuestion" asp-route-id="@scoreQuestion.Id" method="post"><button type="submit" class="btn btn-sm btn-danger">Delete</button></form>
                </td>
            </tr>
        }
    </table>
}
<a asp-action="CreateScoreQuestion" class="btn btn-secondary" style="margin: 0 0 50px 0;">Add a Question</a>


