@model ScoringSubmission
@{
    @* Layout = "_AdminLayout"; *@
    ViewBag.BackgroundParticlesEnabled = false;
    ViewBag.Title = "Submit Vote";
    List<ScoreQuestion> scoreQuestions = ViewBag.RoleScoringQuestions;
    Team activeTeam = ViewBag.ActiveTeam;
    ScoringSubmission scoringSubmission = ViewBag.ScoringSubmission;
}
<style>
    .submission-info {
        margin-bottom: 15px;
    }
    .question-title {
        margin-left: 15px;
    }
    .question-card {
        background-color: var(--bh-dark-green-gray);
        border-radius: 10px;;
        border: 1px solid var(--bh-green);
        margin: 0 0 15px 0;
        padding: 5px 15px 5px 15px;
    }
    .question-card .question-description {
        @* font-weight: bold; *@
        margin-bottom: 8px;
    }
    .question-card .answer-option {
        margin-bottom: 4px;
        background-color: var(--bh-green);
        padding: 2px 3px 2px 8px;
        border: 1px solid #777;
        border-radius: 8px;
    }
    .question-card input {
        display: none;
    }
    .question-card .answer-option.selected,.answer-option:hover {
        background-color: var(--osu-orange);
        border: 1px solid #BBB;
        border-radius: 8px;
    }
    .question-card .answer-option:hover{
        cursor: pointer;
    }
</style>
<div class="text-white" style="margin-bottom:75px;">
    <center>
    <h1>Submit Score</h1>
    @if (activeTeam != null && scoreQuestions != null && scoreQuestions.Count() > 0)
    {
    <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6 col-xl-4" style="text-align:left;">
        @* Active Team *@
        <div class="submission-info" style="text-align:center;">
            <h2>@activeTeam.Name</h2>
            <div>
                @foreach (ApplicationUser appUser in activeTeam.TeamMembers.Values)
                {
                    <div>@appUser.FirstName @appUser.LastName</div>
                }
            </div>
            <br/>
            @if (scoringSubmission != null)
            {
                <div class="question-card">
                <h3>Score saved!</h3>
                <div>🧙‍♀️🤓😎🧐🥰🧙‍♂️</div>
                <div>Press 'refresh' when the organizer says the next team is ready.</div>
                <div>You can resubmit your score until then.</div>
                </div>
            }
            <a href="/Scoring/SubmitScore" class="btn btn-secondary btn-lg btn-block">Refresh</a>
        </div>

        @* Questions *@
        <form asp-action="SubmitScore" enctype="multipart/form-data">
            @foreach (var scoreQuestion in scoreQuestions)
            {
                <div class="question-title">@scoreQuestion.Title</div>
                <div class="question-card">
                    <div class="question-description">@scoreQuestion.Description</div>
                    <div>
                        @foreach (var answerOption in scoreQuestion.AnswerOptions.Values)
                        {
                            <div class="answer-option">
                                <input type="radio" name="scores[@scoreQuestion.Id]" value="@answerOption.Score">
                                @answerOption.Score - @answerOption.Description
                            </div>
                        }
                    </div>
                </div>
            }
            @if (scoringSubmission == null)
            {
                <input type="submit" value="Submit Score" class="btn btn-primary btn-lg btn-block" />
            }
            else
            {
                <input type="submit" value="Re-submit Score" class="btn btn-primary btn-lg btn-block" />
            }
        </form>
    </div>
    }else if (scoreQuestions == null || scoreQuestions.Count == 0)
    {
        <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6 col-xl-4">
        You do not have a scoring role.<br/>
        Please check with the administrator to assign a role.<br/>
        <a href="/Scoring/SubmitScore" class="btn btn-secondary btn-lg btn-block">Refresh</a>
        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
    </div>
    }
    else
    {
    <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6 col-xl-4">
        Submitting scores is currently disabled.<br/>
        Please check back when the administrator says judging has started.<br/>
        <a href="/Scoring/SubmitScore" class="btn btn-secondary btn-lg btn-block">Refresh</a>
    </div>
    }
    </center>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $( document ).ready(function() {
        $(".answer-option").click(function() {
            console.log('clicked');
            // Reset selected outfit
            $(this).parent().find(".answer-option").removeClass("selected");
            $(this).addClass("selected");
            // Select this item's radio button
            var radioBtn = $(this).find('input');
            radioBtn.prop("checked", true);
        });
    });
    </script>
}