@model ScoringSubmission
@{
    @* Layout = "_AdminLayout"; *@
    ViewBag.Title = "Submit Vote";
    List<ScoreQuestion> scoreQuestions = ViewBag.RoleScoringQuestions;
    Team activeTeam = ViewBag.ActiveTeam;
}
<style>
    .submission-info {
        margin-bottom: 15px;
    }
    .question-title {
        margin-left: 15px;
    }
    .question-card {
        background-color: var(--bh-dark-green);
        border-radius: 10px;;
        border: 1px solid var(--bh-green);
        margin: 0 0 15px 0;
        padding: 5px 15px 5px 15px;
    }
    .question-card .question-description {
        @* font-weight: bold; *@
    }
    .question-card .answer-option {
        padding: 2px 5px 2px 5px;
        margin-bottom: 3px;
    }
    .question-card input {
        display: none;
    }
    .question-card .answer-option.selected {
        background-color: var(--bh-green);
        padding: 0px 3px 0px 3px;
        border: 2px solid #BBB;
        border-radius: 5px;
    }
    .question-card .answer-option:hover{
        background-color: var(--bh-green);
        padding: 0px 3px 0px 3px;
        border: 2px solid #BBB;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<center>
<div class="text-white col-xs-12 col-sm-10 col-md-7 col-lg-6 col-xl-4" style="margin-bottom:75px; text-align:left;">
    <h1>Submit Score</h1>

    <div class="submission-info">
        <div>You are submitting a score for "@activeTeam.Name".</div>
        <div>
            @foreach (ApplicationUser appUser in activeTeam.TeamMembers.Values)
            {
                <div>- @appUser.FirstName @appUser.LastName</div>
            }
        </div>
        <a href="/Scoring/SubmitScore" class="btn btn-secondary btn-lg btn-block">Refresh</a>
    </div>

    <div>
    </div>

    <form asp-action="SubmitScore" enctype="multipart/form-data">
        @foreach (var scoreQuestion in scoreQuestions)
        {
            <div class="question-title">@scoreQuestion.Title</div>
            <div class="question-card">
                <div class="question-description">@scoreQuestion.Description</div>
                <div>
                    @foreach (var answerOption in scoreQuestion.AnswerOptions.Values)
                    {
                        <div class="answer-option">
                            <input type="radio" name="scores[@scoreQuestion.Id]" value="@answerOption.Score">
                            @answerOption.Score - @answerOption.Description

                        </div>

                        
                    }
                </div>
            </div>
        }
        <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" />
    </form>
</div>
</center>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $( document ).ready(function() {
        $(".answer-option").click(function() {
            console.log('clicked');
            // Reset selected outfit
            $(this).parent().find(".answer-option").removeClass("selected");
            $(this).addClass("selected");
            // Select this item's radio button
            var radioBtn = $(this).find('input');
            radioBtn.prop("checked", true);
        });
    });
    </script>
}