@model HackathonWebApp.Models.ScoringRole

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Update Scoring Role";
    ScoringRole scoringRole = Model;
    Dictionary<string, ScoreQuestion> scoringQuestions = ViewBag.ScoringQuestions;
}
<div class="container text-white">
    <h1>Update Scoring Role</h1>

    <div class="row">
        <div class="col-md-6">
            <form asp-action="UpdateScoringRole" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="id" value="@scoringRole.Id">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ScoringGroup" class="control-label"></label>
                    <input asp-for="ScoringGroup" class="form-control" />
                    <span asp-validation-for="ScoringGroup" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ScoringWeight" class="control-label"></label>
                    <input asp-for="ScoringWeight" class="form-control" />
                    <span asp-validation-for="ScoringWeight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h3>Questions</h3>
                    @foreach (var scoringQuestionGroup in scoringQuestions.Values.GroupBy(p=> p.Group))
                    {
                        <h5>@scoringQuestionGroup.Key</h5>  
                        <table style="line-height: 0.9; margin-bottom: 15px;">
                        @foreach (var scoreQuestion in scoringQuestionGroup)
                        {
                            <tr>
                                @if(scoringRole.ScoreQuestionsIds.Contains(scoreQuestion.Id.ToString()))
                                {
                                    <td style="vertical-align:top;"><input type="checkbox" name="ScoreQuestionsIds" value="@scoreQuestion.Id" checked></td>
                                }else
                                {
                                    <td style="vertical-align:top;"><input type="checkbox" name="ScoreQuestionsIds" value="@scoreQuestion.Id"></td>
                                }
                                <td style="padding: 0 0 10px 10px;">
                                    @scoreQuestion.Title
                                    <span style="font-size:8pt;"><br/>@scoreQuestion.Description</span>
                                </td>
                            </tr>
                        }
                        </table>
                    }

                </div>
                
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="ScoringRoles">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
