@using MongoDB.Bson;

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "User Roles";
    List<ApplicationUser> appUsers = ViewBag.AppUsers;
    Dictionary<string, ScoringRole> scoringRoles = ViewBag.ScoringRoles;
    Dictionary<string, string> userScoringRoles = ViewBag.UserScoringRoles;

    // Group by users that have an ApplicationRole (Staff) or not (Participant)
    var appUsersByGroup = appUsers.ToLookup(u=> (u.Roles.Count() > 0) ? "Staff" : "Participant");

    // Count number of users in each role
    Dictionary<string,int> userRoleCounts = userScoringRoles.GroupBy(p=> p.Value).ToDictionary(p=> p.Key, p=> p.Count());
}

<style>
    .user-name {
        font-size: large;
    }
    .user-subtext {
        font-size: small;
    }
</style>

<h1 class="text-white">@ViewBag.Title</h1>
<form asp-action="UpdateUserScoringRoles" enctype="multipart/form-data">
<button type="submit" class="btn btn-primary">Save</button>

<h3 class="text-white">Overall Role Coverage</h3>
<div class="row p-2 text-white">
@foreach (var scoringRoleGroup in scoringRoles.Values.GroupBy(p=> p.ScoringGroup))
{
    <div class="col-3 m-1" style="border: 1px solid var(--bh-green); border-radius: 10px;">
        <h5>@scoringRoleGroup.Key</h5>
        <table>
        @foreach (ScoringRole scoringRole in scoringRoleGroup)
        {
            string scoringRoleId = scoringRole.Id.ToString();
            int userRoleCount = userRoleCounts.GetValueOrDefault(scoringRoleId);
            <tr>
                <td style="padding-right:15px;">@scoringRole.Name</td>
                <td>@userRoleCount</td>
            </tr>
        }
        </table>
    </div>
}
</div>

@foreach (var appUsersGroup in appUsersByGroup)
{
    @* Show table for each group of users *@
    <h3 class="text-white">@appUsersGroup.Key</h3>
    <table class="table table-sm table-bordered table-bordered text-white" style="background-color:var(--bh-dark-green-gray);">
        <tr>
            <th>User</th>
            <th>Role</th>
        </tr>
        @* Show Each User *@
        @foreach (ApplicationUser appUser in appUsersGroup)
        {   
            string userScoringRoleId = appUser.Id.ToString();
            <tr>
                @* Show User Info *@
                <td>
                    <div class="user-name">@appUser.FirstName @appUser.LastName</div>
                    <div class="user-subtext">@appUser.Email</div>
                    <div class="user-subtext" style="font-size: xx-small">@appUser.Id</div>
                </td>
                @* Build Selector *@
                <td>
                    <select name="UserScoringRoles[@appUser.Id]">
                        <option style="display:none;" disabled selected>-- Please select a role -- </option>")
                        @foreach (var scoringRole in scoringRoles.Values)
                        {   
                            var isSelectedAttr = "";
                            if (userScoringRoles.ContainsKey(userScoringRoleId) && (scoringRole.Id.ToString() == userScoringRoles[userScoringRoleId])) {
                                isSelectedAttr = "selected";
                            }
                            @Html.Raw($"<option value='{scoringRole.Id}' {isSelectedAttr}>{scoringRole.Name} - {scoringRole.Description}</option>")
                        }
                    </select>
                </td>
            </tr>
        }
    </table>
}
<button type="submit" class="btn btn-primary">Save</button>
</form>

