<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BH/OSU Hackathon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon_io/favicon.ico">
</head>
<body>
    <!-- Navigation Bar-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container">
                <!-- Logos -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="white-space:nowrap;">
                    <img src="~/img/osu_logo.svg" style="height:2em"/> + <img src="~/img/bh_logo_wide_white.png" style="height:2em"/>
                </a>

                <!-- Menu Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (ViewBag.ShowResultsTab ?? false)
                        {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Results">Results</a>
                        </li>
                        }
                        @if (ViewBag.ShowPrizesTab ?? false)
                        {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Prizes">Prizes</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FAQs">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="GettingReady">Prepare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Selection">Selection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sponsors">Sponsors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Team">Team</a>
                        </li>
                        <li class="nav-item">
                            @if (User?.Identity?.IsAuthenticated ?? false)
                            {
                            <div id="userMenu" class="dropdown">
                                <a class="dropdown-toggle" type="button" id="userMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa-solid fa-circle-user"></i>
                                </a>
                                
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    Signed in as<br/>
                                    <b>@User.Identity.Name</b>
                                    <hr/>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Index">Your Profile</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="YourTeam">Your Team</a>
                                    @if (User?.IsInRole("Admin") ?? false)
                                    {
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="Index">Admin</a>
                                    }
                                    <hr/>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Sign out</a>
                                    </div>
                            </div>
                            }
                            else
                            {
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login" style="color:var(--bh-light-green); white-space:nowrap;">Sign In</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content Body -->
	<div id="particles-js"></div>
    <main role="main" class="pb-3" style="margin-bottom:100px;">
        @RenderBody()
    </main>

    <!-- Footer -->
    @{
        int year = DateTime.Now.Year;
    }
    <footer style="background-color: black; text-align:center;">
        <div style="color: white;">
			Copyright &copy; Oklahoma State University @year<br/>
			Copyright &copy; Baker Hughes @year<br/>
			<a href="https://github.com/chriswblake/osu-bh-hackathon-webapp" target="_blank"><i class="fab fa-github"></i></a>
			<a href="https://www.linkedin.com/company/bakerhughes" target="_blank"><i class="fab fa-linkedin"></i></a>
		</div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfvvH8mAAAAADDTVfQ4nh91t0cygR1LacVne-uZ"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (ViewBag.BackgroundParticlesEnabled ?? true)
    {
    <!-- Particle library -->
	<script src="~/js/particles/particles.js"></script>
	<script src="~/js/particles/app.js"></script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
