@{
    ViewData["Title"] = "Home";
	HackathonEvent activeEvent = ViewBag.ActiveEvent;
	DateTime startTime = ViewBag.StartTime;
	DateTime endTime = ViewBag.EndTime;
	DateTime registrationOpensTime = ViewBag.RegistrationOpensTime;
	DateTime earlyRegistrationClosesTime = ViewBag.EarlyRegistrationClosesTime;
	DateTime registrationClosesTime = ViewBag.RegistrationClosesTime;
	int applicationsCount = ViewBag.ApplicationsCount;
	Dictionary<string, string> pageSections = ViewBag.PageSections;
}

<div class="text-center">
	<!-- Intro -->
	<section class="first-section" style="color:white; padding-bottom:5em;">
		<img class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 logo-shake" src="~/img/hackokstate.png"/>
		<br>
		<h2 class="osu-orange">@startTime.ToString("dd")-@endTime.ToString("dd MMM. yyyy")</h2>
		<h2>OSU Endeavor<br/> 215 N Hester St, Stillwater, OK 74078</h2>
		<br/>

		@if (ViewBag.RegistrationMode == "pending" )
		{
			<div class="btn btn-secondary js-scroll-trigger" style="z-index: 1; position: relative;">Registration Opens<br/>@registrationOpensTime.ToString("MMM. d")</div><br/>
		}
		else if (ViewBag.RegistrationMode == "open")
		{
            <a class="btn btn-primary" asp-controller="Event" asp-action="Apply">Register Now!</a>
			<div>*Early registration and entry for raffle closes on @earlyRegistrationClosesTime.ToString("MMM. d")</div>
			<div>*Normal registration closes on @registrationClosesTime.ToString("MMM. d")</div>
			<div>*Walk-ins are welcome on a first-come first-serve basis.</div>
		} else if (ViewBag.RegistrationMode == "finished")
		{
			<div class="btn btn-secondary" style="z-index: 1; position: relative;">Registration Closed</div><br/>
			<div> We got @applicationsCount applications! ♥</div>
			<div>*Walk-ins are welcome on a first-come first-serve basis.</div>
		}

		<br/>
		<h3 class="white">Hosted By:<br/>Oklahoma State University<br/>and Baker Hughes</h3>
		<a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="SponsorBenefits">Learn about Sponsor Benefits</a>
	</section>
		
	<!-- About -->
	<section class="diagonal-section" style="background-color:white;">
		<div class="mx-auto diagonal-section-content">
			<h1>About</h1>
			@{
			try {
				@Html.Raw(pageSections["about"])
			} catch
			{
				<span>Coming soon! 🤓</span>
			}}
		</div>
	</section>

	<!-- Schedule -->
	<section class="diagonal-section" style="color:white;">
		<div class="diagonal-section-content">
			<h1 class="osu-orange">Schedule</h1>
			@{
			try {
				@Html.Raw(pageSections["schedule"])
			} catch
			{
				<span>Coming soon! 🤓</span>
			}}
		</div>
	</section>

			
	<!-- Images -->
	<section class="diagonal-section" style="background-color: white;">
		<center>
		<div class="container diagonal-section-content row col-12 col-md-10 col-lg-8 col-xl-6">
			<div class="col-12 col-sm-6">
				<div class="img-box">
					<img src="img/osu-endeavor-exterior.jpg">
					<div style="background: #DDD;">
						Explore the OSU Endeavor labs and equipment!
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6">
				<div class="img-box">
					<img src="img/osu-discovery-exterior.jpg">
					<div style="background: #DDD">
						Interact with mentors, engineers and researchers from Baker Hughes and our Sponsors.
					</div>
				</div>
			</div>
		</div>
		</center>
	</section>

</div>
