@{
    ViewData["Title"] = "Home";
	HackathonEvent activeEvent = ViewBag.ActiveEvent;
}

<div class="text-center">
	<!-- Intro -->
	<section class="first-section" style="color:white; padding-bottom:5em;">
		<img class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 logo-shake" src="~/img/hackokstate.png"/>
		<br>
		<h2 class="osu-orange">@activeEvent.StartTime.ToString("dd")-@activeEvent.EndTime.ToString("dd MMM. yyyy")</h2>
		<h2>OSU Endeavor<br/> 215 N Hester St, Stillwater, OK 74078</h2>
		<br/>
		@if (DateTime.Now.Date <= activeEvent.RegistrationOpensTime.Date ) {
			<div class="btn btn-secondary js-scroll-trigger" style="z-index: 1; position: relative;">Registration Opens<br/>@activeEvent.RegistrationOpensTime.ToString("MMM. d")</div><br/>
		}
		@if (activeEvent.RegistrationOpensTime.Date <= DateTime.Now.Date && DateTime.Now.Date <= activeEvent.RegistrationClosesTime.Date) {
            <a class="btn btn-primary" asp-controller="Event" asp-action="Apply">Register Now!</a>
			<div>*Early registration and entry for raffle closes on @activeEvent.EarlyRegistrationClosesTime.ToString("MMM. d")</div>
			<div>*Normal registration closes on @activeEvent.RegistrationClosesTime.ToString("MMM. d")</div>
		}else {
			<div class="btn btn-secondary" style="z-index: 1; position: relative;">Registration Closed</div><br/>
			<div> We got @activeEvent.EventApplications.Count() applications! ♥</div>
		}
		<br/>
		<h3 class="white">Hosted By:<br/>Oklahoma State University<br/>and Baker Hughes</h3>
		<a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="SponsorBenefits">Learn about Sponsor Benefits</a>
	</section>
		
	<!-- About -->
	<section class="diagonal-section" style="background-color:white;">
		<div class="mx-auto diagonal-section-content">
			<center>
			<div class="container row">
				<div class="col-md-6" style="padding-top: 60px;">
					<iframe src="https://www.youtube.com/embed/vKMB9KbZshQ" style="width:100%; min-height:250px;"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen>
					</iframe>
					Last Year (Sept. 2021)
				</div>
				<div class="col-md-6 text-left">
					<h1>About</h1>
					<p>
					The OSU/BH Hackathon is a 24-hour energy-forward / sustainability / green hackathon organised by Oklahoma State University and Baker Hughes.
					The hackathon will see students come together across disciplines to build an innovative hack to help with energy transition.
					</p>
					<p>		
					<u>We believe hackers for energy transition can and should be from all majors. All jobs and people use energy.</u>
					For example: it can be direct like consuming power, indirect like reducing emissions or defining policy, or very indirect like changing manufacturing of dance pants and paint using different chemicals. 
					</p>
					<p>
					Each year we hope to target and expand this fun to more majors. Computer Science, Engineering, Music, Medical, Fine Arts... It's all awesome! 😎🤓
					</p>
					<p>
					And... finally... naturally... there will be free food, swag, raffles, and prizes for the winning teams. 🎉
					</p>
				</div>
			</div>
			</center>
		</div>
	</section>

	<!-- Schedule -->
	<style>
		.schedule {
			display: inline-block;
			margin-top: 0px;
		}

		.schedule .table {
			overflow-wrap: normal;
			background-color: #EEE;
		}
	</style>
	<section class="diagonal-section" style="color:white;">
		<div class="diagonal-section-content">
			<h1 class="osu-orange">Schedule</h1>
			<!-- Registration  -->
			<div class="schedule">
				<h3>Get ready...</h3>
				<table class="table table-hover">
					<!-- <tr><td colspan="3">Thurs 16th</td></tr> -->
					<tr><th>Date</th><th>Time</th><th>Activity</th><th>Description</th></tr>
					<tr><td>Th (09/01)</td><td>-</td><td>Early Registration Opens</td><td>Early birds get the worm! (a raffle entry)</td></tr>
					<tr><td>Mo (09/12)</td><td>-</td><td>Early Registration Closes</td><td>Only 50 spots available!</td></tr>
					<tr><td>Fr (09/16)</td><td>-</td><td>Registration Closes</td><td>Don't wait to the last minute! 😮</td></tr>
					<tr><td>Mo (09/19)</td><td>-</td><td>Confirmations sent</td><td>Remind us you are awesome and can participate.</td></tr>
					<tr><td>We (09/21)</td><td>12:00</td><td>Teams Announced</td><td>Time to get to know each other!</td></tr>
					<tr><td>Fr (09/23)</td><td>18:00</td><td>Kickoff</td><td>Reveal the challenge at ENDEAVOR 160</td></tr>
				</table>
			</div>

			<!-- Saturday -->
			<div class="schedule">
				<h3 style="font-weight: bold;">Saturday 24th</h3>
				<table class="table table-hover">
					<tr><th>Time</th><th>Activity</th><th>Description</th></tr>
					<tr><td>08:30</td><td>Check-in</td><td>Show up, mingle, take a selfie...<br/> ...before we get too serious. #HackOKState</td></tr>
					<tr><td>09:00</td><td>Raffle</td><td>It's not a bribe to get you out of bed, we promise. ;)</td></tr>
					<tr><td>09:05</td><td>Opening Remarks</td><td>Intro of mentors and wish everyone good luck!</td></tr>
					<tr><td>09:15</td><td>Start work!</td><td>Let's see what happens... if we...</td></tr>
					<tr><td>13:00</td><td>Lunch</td><td>BBQ 🤤🤩</td></tr>
					<tr><td>18:30</td><td>Dinner</td><td>🍕🍕🍕 You are welcome to multi-task. ;)</td></tr>
					<tr><td>23:00</td><td>Submit Projects!</td><td>Put those digital toys down!</td></tr>
					<tr><td>23:15</td><td>Raffle</td><td>Sponsors like to give us free stuff, not sure why...</td></tr>
				</table>
			</div>

			<!-- Sunday -->
			<div class="schedule">
				<h3 style="font-weight: bold;">Sunday 25th</h3>
				<table class="table table-hover">
					<tr><th>Time</th><th>Activity</th><th>Description</th></tr>
					<tr><td>08:30</td><td>Arrival</td><td>Show up, mingle, grab a donut...</td></tr>
					<tr><td>09:00</td><td>Raffle</td><td>Wait, what? Another raffle? 🤩</td></tr>
					<tr><td>09:05</td><td>Start work!</td><td>Finish up the presentations.</td></tr>
					<tr><td>12:00</td><td>Submit Presentations, Lunch</td><td>Enjoy the calm before the storm. ;)</td></tr>
					<tr><td>12:30</td><td>Presentations, Teams 1-5</td><td>Interpretive dance 💃🕺 gets extra points, right?</td></tr>
					<tr><td>13:30</td><td>Break</td><td>Hopefully no death-by-powerpoint quite yet...</td></tr>
					<tr><td>13:45</td><td>Presentations, Teams 6-10</td><td>Yeah...seems noone went for those bonus points, haha.</td></tr>
					<tr><td>14:45</td><td>Presentations/Judging Finished</td><td>Judgement day has begun...😮</td></tr>
					<tr><td>15:00</td><td>Awards</td><td>Results announced and prizes awarded</td></tr>
					<tr><td>15:30</td><td>😴</td><td>Go home and... probably crash</td></tr>
				</table>
			</div>
		</div>
	</section>

			
	<!-- Images -->
	<section class="diagonal-section" style="background-color: white;">
		<center>
		<div class="container diagonal-section-content row col-12 col-md-10 col-lg-8 col-xl-6">
			<div class="col-12 col-sm-6">
				<div class="img-box">
					<img src="img/osu-endeavor-exterior.jpg">
					<div style="background: #DDD;">
						Explore the OSU Endeavor labs and equipment!
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6">
				<div class="img-box">
					<img src="img/osu-discovery-exterior.jpg">
					<div style="background: #DDD">
						Interact with mentors, engineers and researchers from Baker Hughes and our Sponsors.
					</div>
				</div>
			</div>
		</div>
		</center>
	</section>

</div>
