@{
    ViewData["Title"] = "Home";
	HackathonEvent activeEvent = ViewBag.ActiveEvent;
	DateTime startTime = ViewBag.StartTime;
	DateTime endTime = ViewBag.EndTime;
	DateTime registrationOpensTime = ViewBag.RegistrationOpensTime;
	DateTime earlyRegistrationClosesTime = ViewBag.EarlyRegistrationClosesTime;
	DateTime registrationClosesTime = ViewBag.RegistrationClosesTime;
	int applicationsCount = ViewBag.ApplicationsCount;
	Dictionary<string, string> pageSections = ViewBag.PageSections;
}

<div class="text-center">
	<!-- Intro -->
	<section class="first-section" style="color:white; padding-bottom:5em;">
		<img class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 logo-shake" src="~/img/hackokstate.png"/>
		<br>
		<h2 class="osu-orange">@startTime.ToString("dd")-@endTime.ToString("dd MMM. yyyy")</h2>
		<h2>OSU Endeavor<br/> 215 N Hester St, Stillwater, OK 74078</h2>
		<br/>

		@if (ViewBag.RegistrationMode == "pending" )
		{
			<div class="btn btn-secondary js-scroll-trigger" style="z-index: 1; position: relative;">Registration Opens<br/>@registrationOpensTime.ToString("MMM. d")</div><br/>
		}
		else if (ViewBag.RegistrationMode == "open")
		{
            <a class="btn btn-primary" asp-controller="Event" asp-action="Apply">Register Now!</a>
			<div>*Early registration and entry for raffle closes on @earlyRegistrationClosesTime.ToString("MMM. d")</div>
			<div>*Normal registration closes on @registrationClosesTime.ToString("MMM. d")</div>
		} else if (ViewBag.RegistrationMode == "finished")
		{
			<div class="btn btn-secondary" style="z-index: 1; position: relative;">Registration Closed</div><br/>
			<div> We got @applicationsCount applications! ♥</div>
		}

		<br/>
		<h3 class="white">Hosted By:<br/>Oklahoma State University<br/>and Baker Hughes</h3>
		<a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="SponsorBenefits">Learn about Sponsor Benefits</a>
	</section>
		
	<!-- About -->
	<section class="diagonal-section" style="background-color:white;">
		<div class="mx-auto diagonal-section-content">
			<center>
			<div class="container row">
				<div class="col-md-6" style="padding-top: 60px;">
					<iframe src="https://www.youtube.com/embed/vKMB9KbZshQ" style="width:100%; min-height:250px;"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen>
					</iframe>
					Last Year (Sept. 2021)
				</div>
				<div class="col-md-6 text-left">
					<h1>About</h1>
					<p>
					The OSU/BH Hackathon is a 24-hour energy-forward / sustainability / green hackathon organised by Oklahoma State University and Baker Hughes.
					The hackathon will see students come together across disciplines to build an innovative hack to help with energy transition.
					</p>
					<p>		
					<u>We believe hackers for energy transition can and should be from all majors. All jobs and people use energy.</u>
					For example: it can be direct like consuming power, indirect like reducing emissions or defining policy, or very indirect like changing manufacturing of dance pants and paint using different chemicals. 
					</p>
					<p>
					Each year we hope to target and expand this fun to more majors. Computer Science, Engineering, Music, Medical, Fine Arts... It's all awesome! 😎🤓
					</p>
					<p>
					And... finally... naturally... there will be free food, swag, raffles, and prizes for the winning teams. 🎉
					</p>
				</div>
			</div>
			</center>
		</div>
	</section>

	<!-- Schedule -->
	<style>
		.schedule {
			display: inline-block;
			margin-top: 0px;
		}

		.schedule .table {
			overflow-wrap: normal;
			background-color: #EEE;
		}
	</style>
	<section class="diagonal-section" style="color:white;">
		<div class="diagonal-section-content">
			<h1 class="osu-orange">Schedule</h1>
			@{
			try {
				@Html.Raw(pageSections["schedule"])
			} catch
			{
				<span>Coming soon! 🤓</span>
			}}
		</div>
	</section>

			
	<!-- Images -->
	<section class="diagonal-section" style="background-color: white;">
		<center>
		<div class="container diagonal-section-content row col-12 col-md-10 col-lg-8 col-xl-6">
			<div class="col-12 col-sm-6">
				<div class="img-box">
					<img src="img/osu-endeavor-exterior.jpg">
					<div style="background: #DDD;">
						Explore the OSU Endeavor labs and equipment!
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6">
				<div class="img-box">
					<img src="img/osu-discovery-exterior.jpg">
					<div style="background: #DDD">
						Interact with mentors, engineers and researchers from Baker Hughes and our Sponsors.
					</div>
				</div>
			</div>
		</div>
		</center>
	</section>

</div>
