@model List<Organizer>
@{
    ViewData["Title"] = "Team";
    var organizers = Model;
	var organizersByTeam = organizers.GroupBy(p => p.DisplayTeam);
	var a =1;
}

<div class="text-center">
	<section class="first-section" style="padding: 5em;">
		<h1 class="osu-orange">Meet the Team</h1>
	</section>

	<!-- Show each group and its organizers -->
	@foreach (var group in organizersByTeam)
	{
		// Create banner for group
		var displayTeam = group.Key;
		<section class="diagonal-section" style="background-color:var(--bh-dark-green); padding:3em;">
			<h2 class="osu-orange">@displayTeam</h2>
		</section>

		// Create cards for each person
		<section class="diagonal-section" style="background-color:white; padding-top:2em;">
		<div class="diagonal-section-content">
		<div class="container">
		<div class="row">
		@foreach (var organizer in group)
		{
			// Replace image with placeholder, if missing.
			<div class="person-card col-sm-6, col-md-4">
				@if (organizer.ProfileImage != null && organizer.ProfileImage != "") {
                    <img class="img-fluid" src="@String.Format("data:image/png;base64,{0}", organizer.ProfileImage)"/>
                }else {
                    <img class="img-fluid" src="/img/team/placeholder.png"/>
                }
				@* <img class="img-fluid" src="~/img/team/placeholder.png"> *@
				<div>
					<h3>@organizer.DisplayName</h3>
					<h5>@organizer.Role</h5>
					<h6>@organizer.JobTitle</h6>
					<div class="social-tags">
						@if (organizer.GitHubUrl != null && organizer.GitHubUrl != "") { <a href="@organizer.GitHubUrl" target="_blank"><i class="fab fa-github"></i></a> }
						@if (organizer.LinkedInUrl != null && organizer.LinkedInUrl != "") { <a href="@organizer.LinkedInUrl" target="_blank"><i class="fab fa-linkedin"></i></a> }
						@if (organizer.Email != null && organizer.Email != "") { <a href="mailto:@organizer.Email?subject=Hackathon" target="_blank"><i class="fas fa-envelope"></i></a> }
					</div>
				</div>
			</div>
		}
		</div>
		</div>
		</div>
		</section>
	}
</div>
