@model List<HackingEquipment>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Equipment";
    List<HackingEquipment> equipment = Model;

    // Hide equipment with zero quantity
    equipment = equipment.Where(p=> p.Quantity > 0).ToList();

    var groupedEquipment = equipment.GroupBy(p=> p.Category);
}

<style>
    .csv-tool {
        display: inline-block;
        margin: 5px;
        border: 1px solid var(--bh-green);
        background-color: var(--bh-dark-green-gray);
        padding: 5px 10px 10px 10px;
        border-radius: 10px;
    }
    table td {
        width: 100px;
    }
</style>

<h1 class="text-white">Equipment</h1>
<div class="row" style="padding-left: 8px;">

    @* Upload CSV *@
    <div class="csv-tool">
        <h2 class="text-white">Upload Equipment</h2>
        <form method="post" asp-action="UpdateEquipment" enctype="multipart/form-data">
            <input type="file" accept=".csv" id="csvEquipment" name="csvEquipment" class="text-white"><br/>
            <input type="submit" value="Upload CSV file" class="btn btn-secondary" style="margin-top:5px;" />
        </form>
    </div>

    @* Download CSV *@
    <div class="csv-tool">
    <h2 class="text-white">Download Equipment</h2>
        <form method="post" asp-action="DownloadEquipmentCSV" enctype="multipart/form-data">
            <input type="submit" value="Download as CSV file" class="btn btn-secondary" />
        </form>
    </div>
</div>

@* Show equipment *@
@foreach (var group in groupedEquipment)
{
    string category = group.Key;
    <h2 class="text-white">@category</h2>
    <table class="table table-sm table-bordered table-bordered text-white" style="background-color:var(--bh-dark-green-gray);">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>URL More Info</th>
        </tr>
    @foreach (HackingEquipment piece in group)
    {
        <tr>
            <td>@piece.Name</td>
            <td>@piece.Quantity @piece.Unit</td>
            <td>
            @if (piece.UrlMoreInformation != null)
            {
                <a href="@piece.UrlMoreInformation" target="_blank">More Information</a>
            }
            </td>
        </tr>
    }
    </table>
}


