@model List<HackathonEvent>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Hackathon Events";
    @* List<HackathonEvent> events_old = Model; *@
    List<HackathonEvent> events = ViewBag.events;
    List<EventApplication> activeEventApplications = ViewBag.activeEventApplications;
}

<h1 class="text-white">Hackathon Events</h1>
<table class="table table-sm table-bordered table-bordered text-white" style="background-color:var(--bh-dark-green-gray);">
    <tr>
        <th>Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Is Active</th>
        <th>Update</th>
    </tr>
    @foreach (HackathonEvent hackathonEvent in events)
    {
        <tr>
            <td>@hackathonEvent.Name</td>
            <td>@hackathonEvent.StartTime.Date.ToString("d")</td>
            <td>@hackathonEvent.EndTime.Date.ToString("d")</td>
            <td>@hackathonEvent.IsActive</td>
            <td><a class="btn btn-sm btn-primary" asp-action="UpdateHackathonEvent" asp-route-id="@hackathonEvent.Id">Update</a></td>
        </tr>
    }
    <tr>
    <td colspan="5">
        <a asp-action="CreateHackathonEvent" class="btn btn-secondary">Create Event</a>
    </td>
    </tr>
</table>


<h1 class="text-white">Applications (active event)</h1>
<table class="table table-sm table-bordered table-bordered text-white" style="background-color:var(--bh-dark-green-gray);">
    <tr><th>UserId</th><th>Major</th><th>School Year</th></tr>
    @foreach (EventApplication eventApplication in activeEventApplications)
    {
        <tr>
            <td>@eventApplication.UserId</td>
            <td>@eventApplication.Major</td>
            <td>@eventApplication.SchoolYear</td>
        </tr>
    }
</table>