@model List<EventApplication>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Team Placement";
    List<EventApplication> activeEventApplications = Model;
    Dictionary<string, Team> teams = ViewBag.Teams;
}

<form method="post" asp-action="PlaceTeams" enctype="multipart/form-data">
    @* Buttons *@
    <a asp-action="CreateTeam" class="btn btn-secondary">Create Team</a>
    <button type="submit" class="btn btn-primary">Save</button>

    @* List of applications *@
    <h1 class="text-white">Applications (active event)</h1>
    <table class="table table-sm table-bordered table-bordered text-white" style="background-color:var(--bh-dark-green-gray);">
        <tr>
            <th>UserId</th>
            <th>Major</th>
            <th>School Year</th>
            <th>Hackathon Exp.</th>
        </tr>
        @foreach (EventApplication eventApplication in activeEventApplications)
        {
            <tr>
                <td style="font-size:x-small;">@eventApplication.UserId</td>
                <td>@eventApplication.Major</td>
                <td>@eventApplication.SchoolYear</td>
                <td>@eventApplication.HackathonExperience</td>
                <td>
                    <select name="EventApplicationTeams[@eventApplication.Id]">
                        <option style="display:none;" disabled selected>-- Please select a team -- </option>"
                        @foreach (Team team in teams.Values.OrderBy(p=> p.Name))
                        {   
                            var isSelectedAttr = "";
                            // if (team.EventApplications.ContainsKey(eventApplication.Id)) {
                            //     isSelectedAttr = "selected";
                            // }
                            @Html.Raw($"<option value='{team.Id}' {isSelectedAttr}>{team.Name}</option>")
                        }
                    </select>
                </td>
            </tr>
        }
    </table>
</form>




@section Scripts {
}
